*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;}
header{
    background-image: url(/assets/headedback.jfif);
    background-size:100% 100%;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,h3,h5,h4{
    font-family: 'Cinzel', serif;
}
h3,h5,h4{
    font-size:medium;
}
.p-init {
    background-color: rgb(138, 80, 59);
    margin: 2%;
    padding: 20px;
    text-align: center;
}
body{
    background-color: rgb(68, 67, 67);
    color: #d6d3d3;
}
ol {
    display: block;
    list-style: none;
    text-align: center;
}
.section {
    min-height: 60vh;
    background-color: rgb(102, 101, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px 200px;
}
select{
    padding: 5px;
    border-radius: 10%;
    background-color: #e0dede;
}
.cont-temporizador{
    display: flex;
    justify-content: center;
    margin-top: 50px;
} 
.cont-temporizador .bloque{
    margin: 0px 4px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.cont-temporizador .bloque div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80,80);
    box-shadow: 0px 0px 6px 2px #727272 inset;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}
footer{
    background-color: black;
    min-height: 10vh;
}